.flexbox-activity {
    display:flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activity {
    padding-top:20px;
    padding-left:20px;
}
.activity-flex1 {
    display:flex;
    flex-direction: column;
}
.activity-flex2 {
    display:flex;
    flex-direction: column;
}
.activity-large {
    border-radius: 20px;
    box-shadow: 0 0 20px var(--light-gray);
    padding:10px;
    margin-right:40px;
    max-height: 470px;
    margin-bottom:20px;
}
.activity-large img{
    height: 380px;
    width: 300px;
}
.activity-medium{
    border-radius: 20px;
    box-shadow: 0 0 20px var(--light-gray);
    padding:10px;
    margin-right:40px;
    margin-bottom:10px;
}
.activity-medium img{
    height: 180px;
    width: 300px;
}
.activity-small {
    border-radius: 20px;
    box-shadow: 0 0 20px var(--light-gray);
    padding:10px;
    margin-right:40px;
    margin-bottom:10px;
}
.activity-small img{
    height: 150px;
    width: 300px;
}
.activity-tiny {
    border-radius: 20px;
    box-shadow: 0 0 20px var(--light-gray);
    padding:10px;
    margin-right:40px;
    margin-bottom:10px;
}
.activity-tiny img{
    height: 120px;
    width: 300px;
}
.flexbox-activites {
    display:flex;
    flex-direction:row ;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}
.flexbox-activity img {
    border-top-right-radius:20px ;
    border-top-left-radius:20px ;
}
.activity-large:hover, .activity-medium:hover, .activity-small:hover, .activity-tiny:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    cursor: pointer;
}