.houses-list {
    display: flex;
    gap:20px;
}
.houses-list > div { /* le > est pour selectioner seulement le premier enfant*/
    background-color: var(--light-gray);
    padding:20px;
    border-radius: 20px;
    margin-left: 20px;
}
.houses-list .town { /*town 2 fois plus grand que popular*/
    flex-basis: 66%;
}
.houses-list .town a {
    font-weight: bold;
}
.houses-list .popular {
    flex-basis:33%;
}
.house-card {
    background-color: white;
    border-radius:20px;
    padding: 10px;
    box-shadow: 0 0 20px #0000002e;
    flex-grow:1;
    width: 300px;
    max-width: 300px;
}
.house-card p,
.popular-description h3,
.popular-description p {
    margin:2px;
}
.house-card h3 {
    margin:2px;
}
.house-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:280px;
    height: 120px;
    object-fit: cover;
    object-position: top;
}
.town {
    width: 720px;
}
.town-houses-list {
    display:flex;
    flex-wrap:wrap; /*sinon les div s'affichent toutes sur la même ligne car y a la place*/
    justify-content:space-around;
    margin-bottom: 20px;
    gap:20px;
}

.houses-list .popular-flex {
    display:flex;
    flex-direction: column;
    gap:20px;
}
.popular {
    width: auto;
    max-width: 360px;
    min-width: 360px;
    margin-right: 20px;
}
.popular-house-card {
   display:flex;
   background-color: white;
   border-radius:20px;
   padding: 10px;
   box-shadow: 0 0 20px #0000002e;
   flex-grow:1;
   width: 320px;
}
.popular-house-card img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 120px;
    min-width: 120px;
    max-width: 120px;
    object-fit: cover;
    object-position: top;
}
.popular-description {
    flex-basis:100%;
    display:flex;
    flex-direction:column;
    margin-left:10px;

}
.popular-description h3 {
    margin-bottom: auto;
}
.popular h2, .town h2 {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}
.info {
    padding-left:20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
i.fa-info { /*cercle autour du i awesome font*/
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 1px var(--gray);
    margin-right: 20px;
    color:var(--dark-blue);
    height: 30px;
    width: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.house-card:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    cursor: pointer;
}
.popular-house-card:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    cursor: pointer;
}