@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*importation de la police Raleway*/
/*import des fichiers css refactorisés*/
@import url(house-popular.css);
@import url(navigation.css);
@import url(recherche.css);
@import url(activity.css);
@import url(footer.css);

* { /*utilisation de la police pour toute la page web*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box ;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
}
/* variable css*/
:root {
    --dark-blue: #0065FC;
    --light-blue:#DEEBFF;
    --light-gray:#F2F2F2;
    --gray:#888;
}

.blue {
    color:var(--dark-blue)
}
.gray {
    color:var(--light-gray)
}
a {
    color:inherit;
    text-decoration: none;
}
.bold{
    font-weight: bold;
}
li {
    list-style: none; /*enlève les puces*/
}

.fa-solid { 
    vertical-align: middle;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}
h2 {
    font-size: 20px;
    font-weight: bold; 
}
/* filtres*/
.fas.fa-money-bill-wave, .fa-solid.fa-child-reaching, .fa-solid.fa-heart, .fa-solid.fa-dog {
    color:var(--dark-blue);
    background-color:var(--light-blue) ;
    width: 48px;
    height: 48px;
    border-radius:50%;
    box-shadow: 0 0 0 2px var(--light-blue); /*astuce pour rajouter du contour bleu autour du cercle de l'icone*/
    /* alignement des icones au centre, obligé de passer par la car le child était ovale et non pas rond*/
    display:flex;
    align-items: center;        
    justify-content: center;
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    gap:20px;
    padding-top:20px;
    padding-left:20px;
}
.filter {
    border:2px solid var(--light-gray);
    border-radius:30px;
    display: flex;
    align-items: center;
    transition: transform 0.3s;
}
.filter span {
    font-weight: bold ;
    padding:0 20px;
}
/*effets au survol sur les filtres*/
.filter:hover {
    color:var(--dark-blue);
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    cursor: pointer;
}
/*mediaqueries*/

@media (min-width: 769px) and (max-width:992px) {
    .sub-nav{
        flex-basis: 100%;
    }
    .sub-nav a {
       flex-basis: 50%; /*liens a centrés*/
       text-align: center; /*texte centré*/
       border-bottom:2px solid var(--light-gray);

    }
    .sub-nav a:hover { /*supression de la border top, rajour d'un border bottom*/
        border-bottom: 2px solid var(--dark-blue);
        border-top-color:transparent;
    }
    .search-form .search-text { /*enlève le texte du bouton rechercher*/
       display:none;
    }
    .button {
        width: auto;
        border-radius: 10px;
    }
    .fas.fa-search {
        display:inline;
    }
    .filter-list h2 { /*pour mettre le titre filtre au dessus des filtres en responsive*/
        flex:1;
        order: -1;
        flex: 1 0 100%;
    }
    .houses-list { /* affichage en colonne des parties appartements populaires et hébergement à Marseille*/
        flex-direction: column;
    }
    .popular { /*pour passer la div popular en premier lors du responsive*/
        order:-1;
    }
    .houses-list > div {
       margin:0 auto;
       border-radius:0;
    }
    .activity > div {
        margin:0 auto;
    }
    .houses-list .town {
        background-color: white;
        margin:0 auto;
    }
    .town {
        width: 100%;
    }
    .town-houses-list { 
        flex-basis: 100%;

    }
    .house-card {
        max-width: 320px;
        width: 320px;
    }
    .house-card img {
        width: 300px;
    }

    .activity {
        width: 100%;
        margin:0 auto;
        border-radius:0;
         
    }

    /*redimmensionnement et positionnement des activity à Marseille*/
    .activity-large img, .activity-medium img, .activity-small img, .activity-tiny img{
        height: 150px;
        width: 300px;
      
    }
    .activity-large, .activity-medium, .activity-small, .activity-tiny {
        height: 210px;
        width: 320px;
        margin-left:20px;
        padding-bottom:20px;
        margin-bottom:20px;
    }
    .activity {
        padding-top:0;
        padding-left:0px;
    }
    .activity h2 {
        padding-left:20px;
    }
    .logo {
        margin-right:auto;
        margin-left:auto;
    }
    .info {
        padding: 0 20px;
    }
  
}

@media (max-width:768px) {
    .sub-nav{
        flex-basis: 100%;
    }
    .sub-nav a {
       flex-basis: 50%; /*liens a centrés sur écran smartphone*/
       text-align: center; /*texte centré*/
       border-bottom:2px solid var(--light-gray);

    }
    .sub-nav a:hover { /*supression de la border top, rajour d'un border bottom*/
        border-bottom: 2px solid var(--dark-blue);
        border-top-color:transparent;
    }
    .search-form .search-text { /*enlève le texte du bouton rechercher*/
       display:none;
    }
    .button {
        width: auto;
        border-radius: 10px;
    }
    .fas.fa-search {
        display:inline;
    }
    .filter-list h2 { /*pour mettre le titre filtre au dessus des filtres en responsive*/
        flex:1;
        order: -1;
        flex: 1 0 100%;
    }
    .houses-list { /* affichage en colonne des parties appartements populaires et hébergement à Marseille*/
        flex-direction: column;
    }

    .houses-list > div {
        margin-left:0;
        border-radius:0;
    }
    .houses-list .town {
        background-color: white;
    }
    .town-houses-list {
        flex-basis: 100%;
        justify-content: space-evenly;
    }
    .popular { /*pour passer la div popular en premier lors du responsive*/
        order:-1;
        margin-right:0;
    }
    .popular-house-card {
        width: 320px;
     }
     .popular-flex {
        align-items: center;
     }
    .house-card {
        max-width: 320px;
        width: 320px;
    }
    .house-card img {
        width: 300px;
    }
    /*redimmensionnement et positionnement des activity à Marseille*/
    .activity-large img, .activity-medium img, .activity-small img, .activity-tiny img{
        height: 150px;
        width: 300px;
      
    }
    .activity-large, .activity-medium, .activity-small, .activity-tiny {
        height: 210px;
        width: 320px;
        margin-left:20px;
        padding-bottom:20px;
        margin-bottom:20px;
    }
    .activity {
        padding-top:0;
        padding-left:0px;
    }
  
    .activity h2 {
        padding-left:20px;
    }
    .flexbox-activity {
        justify-content: space-evenly;
    }
    .logo {
        margin-right:auto;
        margin-left:auto;
    }
    .info {
        padding: 0 20px;
    }
    .flexbox-footer {
        flex-direction: column;
    }
    .flexbox-footer-child {
        width:350px;
    }
}
@media (max-width:414px) {
    i.fa-info {
        width: 40px;
    }
}